#legacy_text{width:100%}
#converter1, #converter2{background-color:#4caf50;border:none;color:white;padding:5px 10px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;margin:4px 2px;cursor:pointer;
}
.column-hindi-font {
  float: left;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
}